In [87]:
# Importar librerías Generales

import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

## Haga una exploración rápida de sus datos, para eso haga un resumen de su conjunto de datos.

In [88]:
# Lectura de datos
df = pd.read_csv('movies.csv')

In [89]:
# pre procesamiento de datos en el dataframe
df['id'] = df['id'].astype(str)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['genres'] = df['genres'].str.split('|')
df['homePage'] = df['homePage'].astype(str)
df['productionCompany'] = df['productionCompany'].str.split('|')
df['productionCompanyCountry'] = df['productionCompanyCountry'].str.split('|')
df['productionCountry'] = df['productionCountry'].str.split('|')
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
df['video'] = df['video'].astype(bool)
df['director'] = df['director'].str.split('|')
df['actors'] = df['actors'].str.split('|')
df['actorsPopularity'] = df['actorsPopularity'].str.split('|')
df['actorsCharacter'] = df['actorsCharacter'].str.split('|')
df['originalTitle'] = df['originalTitle'].astype(str)
df['title'] = df['title'].astype(str)
df['originalLanguage'] = df['originalLanguage'].astype(str)
df['popularity'] = pd.to_numeric(df['budget'], errors='coerce')
df['releaseDate'] = df['releaseDate'].astype(str)
df['voteAvg'] = pd.to_numeric(df['voteAvg'], errors='coerce')
df['voteCount'] = pd.to_numeric(df['voteCount'], errors='coerce')
df['genresAmount'] = pd.to_numeric(df['genresAmount'], errors='coerce')
df['productionCoAmount'] = pd.to_numeric(df['productionCoAmount'], errors='coerce')
df['productionCountriesAmount'] = pd.to_numeric(df['productionCountriesAmount'], errors='coerce')
df['actorsAmount'] = pd.to_numeric(df['actorsAmount'], errors='coerce')
df['castWomenAmount'] = pd.to_numeric(df['castWomenAmount'], errors='coerce')
df['castMenAmount'] = pd.to_numeric(df['castMenAmount'], errors='coerce')

# mora te tocan las columnas que son listas

*Diga el tipo de cada una de las variables (cualitativa ordinal o nominal, cuantitativa continua, cuantitativa discreta)*

In [90]:
def asign(x):
    switch = {
        1: 'cualitativa nominal',
        2: 'cualitativa ordinal',
        3: 'cuantitativa continua',
        4: 'cuantitativa discreta'
    }
    return switch.get(x, 'Unknown')

tipo_var = [
    1, 3, 1, 1, 1, 1, 1, 3, 3, 4, 2, 1, 3, 1, 1, 1, 1, 3, 1, 3, 4, 4, 4, 4, 4, 4, 4
]

In [92]:
table = pd.DataFrame({
    'index of the column': [i for i, _ in enumerate(df.columns)],
    'type of the first non-null element of the column': df.apply(lambda x: type(x.dropna().iloc[0]) if x.dropna().size else None),
    'number of NaN values in the column': df.isna().sum()
})

# add a COLUMN to the dataframe table and assign the type of variable using the function asign
table['type of variable'] = [asign(x) for x in tipo_var]

# Print the table
table.head(100)

,index of the column,type of the first non-null element of the column,number of NaN values in the column,type of variable
id,0,<class 'str'>,0,cualitativa nominal
budget,1,<class 'numpy.float64'>,1,cuantitativa continua
genres,2,<class 'list'>,53,cualitativa nominal
homePage,3,<class 'str'>,0,cualitativa nominal
productionCompany,4,<class 'list'>,457,cualitativa nominal
productionCompanyCountry,5,<class 'list'>,1280,cualitativa nominal
productionCountry,6,<class 'list'>,233,cualitativa nominal
revenue,7,<class 'numpy.int64'>,0,cuantitativa continua
runtime,8,<class 'numpy.int64'>,0,cuantitativa continua
video,9,<class 'numpy.bool_'>,0,cuantitativa discreta
director,10,<class 'list'>,74,cualitativa ordinal
actors,11,<class 'list'>,80,cualitativa nominal
actorsPopularity,12,<class 'list'>,87,cuantitativa continua
actorsCharacter,13,<class 'list'>,47,cualitativa nominal
originalTitle,14,<class 'str'>,0,cualitativa nominal
title,15,<class 'str'>,0,cualitativa nominal
originalLanguage,16,<class 'str'>,0,cualitativa nominal
popularity,17,<class 'numpy.float64'>,1,cuantitativa continua
releaseDate,18,<class 'str'>,0,cualitativa nominal
voteAvg,19,<class 'numpy.float64'>,2,cuantitativa continua
voteCount,20,<class 'numpy.float64'>,2,cuantitativa discreta
genresAmount,21,<class 'numpy.float64'>,2,cuantitativa discreta
productionCoAmount,22,<class 'numpy.float64'>,2,cuantitativa discreta
productionCountriesAmount,23,<class 'numpy.float64'>,2,cuantitativa discreta
actorsAmount,24,<class 'numpy.float64'>,2,cuantitativa discreta
castWomenAmount,25,<class 'numpy.float64'>,39,cuantitativa discreta
castMenAmount,26,<class 'numpy.float64'>,164,cuantitativa discreta

## (5 puntos) Diga el tipo de cada una de las variables (cualitativa ordinal o nominal, cuantitativa continua, cuantitativa discreta)

El dataset obtenido de 'movies.csv' presenta información sobre 1000 películas diferentes. Presenta 27 variables (columnas) de tipo y rango variado.