In [132]:
# Importar librerías Generales

import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

## Haga una exploración rápida de sus datos, para eso haga un resumen de su conjunto de datos.

In [133]:
# Lectura de datos
df = pd.read_csv('movies.csv')

In [134]:
df.columns

Index(['id', 'budget', 'genres', 'homePage', 'productionCompany',
       'productionCompanyCountry', 'productionCountry', 'revenue', 'runtime',
       'video', 'director', 'actors', 'actorsPopularity', 'actorsCharacter',
       'originalTitle', 'title', 'originalLanguage', 'popularity',
       'releaseDate', 'voteAvg', 'voteCount', 'genresAmount',
       'productionCoAmount', 'productionCountriesAmount', 'actorsAmount',
       'castWomenAmount', 'castMenAmount'],
      dtype='object')

In [135]:
# pre procesamiento de datos en el dataframe
df['id'] = df['id'].astype(str)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['genres'] = df['genres'].str.split('|')
df['homePage'] = df['homePage'].astype(str)
df['productionCompany'] = df['productionCompany'].str.split('|')
df['productionCompanyCountry'] = df['productionCompanyCountry'].str.split('|')
df['productionCountry'] = df['productionCountry'].str.split('|')
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
df['video'] = df['video'].astype(bool)
df['director'] = df['director'].str.split('|')
df['actors'] = df['actors'].str.split('|')
df['actorsPopularity'] = df['actorsPopularity'].str.split('|')
df['actorsCharacter'] = df['actorsCharacter'].str.split('|')
df['originalTitle'] = df['originalTitle'].astype(str)
df['title'] = df['title'].astype(str)

# mora te tocan las demas.

In [136]:
# Tabla descriptiva de los datos
column_data = pd.DataFrame({
    'Nombre de la columna': df.columns,
    'Tipo de dato': df.dtypes.values,
    'Ejemplo de valor': df.iloc[0].values,
    })

column_data

,Nombre de la columna,Tipo de dato,Ejemplo de valor
0,id,object,5
1,budget,float64,4000000.0
2,genres,object,"[Crime, Comedy]"
3,homePage,object,https://www.miramax.com/movie/four-rooms/
4,productionCompany,object,"[Miramax, A Band Apart]"
5,productionCompanyCountry,object,"[US, US]"
6,productionCountry,object,[United States of America]
7,revenue,int64,4257354
8,runtime,int64,98
9,video,bool,True
10,director,object,"[Allison Anders, Alexandre Rockwell, Robert Ro..."
11,actors,object,"[Tim Roth, Jennifer Beals, Antonio Banderas, V..."
12,actorsPopularity,object,"[22.225, 23.519, 17.816, 19.893, 9.027, 7.147,..."
13,actorsCharacter,object,"[Ted the Bellhop, Angela, Man, Athena, Siegfri..."
14,originalTitle,object,Four Rooms
15,title,object,Four Rooms
16,originalLanguage,object,en
17,popularity,float64,20.88
18,releaseDate,object,1995-12-09
19,voteAvg,float64,5.7
20,voteCount,float64,2077.0
21,genresAmount,float64,2.0
22,productionCoAmount,float64,2.0
23,productionCountriesAmount,float64,1.0
24,actorsAmount,float64,25.0
25,castWomenAmount,object,15
26,castMenAmount,object,9

El dataset obtenido de 'movies.csv' presenta información sobre 1000 películas diferentes. Presenta 27 variables (columnas) de tipo y rango variado.